ul {
  list-style-type: none;
  margin: 0;
  font-size: 30px;
  padding: 0px;
}

li {
  float: left;
  font-size: 30px;
  list-style: none;
}

li a {
  display: block;
  color: black;
  font-size: 27px;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-weight: 600;
}

li a:hover {
  background-color: darkgrey;
  color: white;
}

nav {
  overflow: hidden;
  background-color: #c5d5cb;
}


.title {
  text-align: center;
  justify-content: center;
  margin-left: 170px;
  font-size: 100px;
  height: 677px;
  color: #333;
  text-shadow: 5px 5px 5px #999;
}



